body {
  background-color: grey;
  display: flex;
}

.sandbox {
  width: 1362px;
  height: 802px;
  position: relative;
  margin: 0 auto;
  /*background: url(sprite_copy.png) 80px 76px;*/
  background: url(/Users/Dax/WDI/mylittlegameproject/655fac1b05fe23c422684f99c0416aaf.jpg)
}

.whoWin {
  width: 1362px;
  height: 702px;
  position: absolute;
  margin: 0 auto;
  background-color: RGBA(255,255,255,1);
  top: 100px;
  text-align: center;
  font-size: 100px;
  padding: 300px;
  display: none;
}

.row {
  width: 1362px;
  border: none;
}

._4 {
  background: url(sprite_copy.png) -516px -335px;
}

._2 {
  background: url(character_copy.png) -82px -1px;
}

._3 {
  background: url(sprite_copy.png) -515px -410px;
}

._1 {
  background: url(sprite_copy.png) -268px -496px;
}

._5 {
  background: url(sprite_copy.png) -515px 1150px;
}

._6 {
  background: url(character_copy.png) -84px -326px;
}

._7 {
  background: url(character_copy.png) -567px -646px /*bad guy facing front -567px -646px facing back -567px -890px facing right -567px -807px*/
}

._8 {
  background: url(character_copy.png) -809px -970px /*beard guy facing front -809px -970px facing left -809px -1050px facing right -804px -1130px facing back -809px -1210px*/
}

._9 {
  background: url(character_copy.png) -325px -970px /*girl facing back -325px -1210px facing front -325px -970px facing left -325px -1050px facing right -325px -1130px*/
}

._11 {
  background: url(sprite_copy.png) -764px -416px;
}

._12 {
  background: url(sprite_copy.png) -764px -331px;
}

._13 {
  background: url(sprite_copy.png) -846px -165px;
}

._14 {
  background: url(sprite_copy.png) -764px -83px;
}

._15 {
  background: url(sprite_copy.png) -764px 0px;
}

._16 {
  background: url(sprite_copy.png) -929px -82px;
}

._17 {
  background: url(sprite_copy.png) -764px -165px;
}

._18 {
  background: url(sprite_copy.png) -929px -165px;
}

._19 {
  background: url(sprite_copy.png) -598px -579px;
}

._20 {
  background: url(sprite_copy.png) -763px -579px;
}

._21 {
  background: url(sprite_copy.png) -1011px -4px;
}

.battlebox {
  width: 1360px;
  height: 602px;
  margin: 30px auto;
  position: relative;
  /*background-image: url(/Users/Dax/WDI/mylittlegameproject/OACf5cL.gif);*/
  background-size: cover;
}

.healthbox {
  width: 1360px;
  height: 70px;
  background-color: grey;
  margin-top: 30px;
}

.playerOne {
  width: 80px;
  height: 80px;
  position: absolute;
  float: left;
  top: 520px;
  border-radius: 30px;
  background: url(character_copy.png) -82px -2px;
  border: none;
}

.playerTwo {
  width: 80px;
  height: 80px;
  position: absolute;
  float: left;
  top: 520px;
  border-radius: 30px;
  background: url(character_copy.png) -84px -324px;
  border: none;
}

.platform0 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 240px;/*-550px;*/
  left: 660px; /*1320px;*/
  border: 1px solid black;
  border-radius: 100%;
  /*visibility: hidden;*/
}

.platform1 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 240px;/*-550px;*/
  left: 660px; /*1320px;*/
  border: 1px solid black;
  border-radius: 100%;
  /*visibility: hidden;*/
}

.platform2 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 240px;/*-550px;*/
  left: 660px; /*1320px;*/
  border: 1px solid black;
  border-radius: 100%;
  /*visibility: hidden;*/
}

.messagebox {
  background-color: RGBA(255,255,255,0.7);
  border-style: dashed;
  border-radius: 20px;
  width: 1360px;
  height: 240px;
  position: absolute;
  top: 560px;
  visibility: hidden;
  padding: 30px 50px;
}

.playerHealthOne {
  width: 680px;
  height: 50px;
  position: absolute;
  top: -1px;
  background-color: RGBA(255,255,0,0.7);
}

.playerHealthOneBar {
  position: relative;
  height: 50px;
  width: 50%;
  font-size: 36px;
  text-align: center;
}

.playerHealthTwo {
  width: 680px;
  height: 50px;
  position: absolute;
  top: -1px;
  background-color: RGBA(255,255,0,0.7);
}

.playerHealthTwoBar {
  position: relative;
  height: 50px;
  width: 50%;
  font-size: 36px;
  text-align: center;
}

.red {
  background-color: RGBA(255,0,0,0.3);
}

.timer {
  text-align: center;
  width: 1360px;
  position: relative;
}

div {
  float: left;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  box-sizing: border-box;
}
